$blaze-orange: #FD6100;
$wisteria: #AB4CAE;
$cornflower-blue: #5862F8;
$fun-green: #008B45;
$light-gray: #D7DAE2;
$faded-gray: #F5F5FA;
$santas-gray: #A3A6B4;
$blue: #3B86FF;
$black: #4D4F5C;
$whisper: #F0EEF7;
$white: #FFF;
$catskill-white: #EAF0F4;
$dodger-blue: #565DFF;
$alto: #D6D6D6;
$bittersweet: #FF5F5F;
$kimberly: #6A6996;
